/**************
Login One Style
***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
a {
  color: #50B8E9;
  text-decoration: none;
}
.custom-dot {
  color: #50B8E9;
}

.page-container {
  position:relative;
  width:100%;
  min-height:100vh;
  display: flex;
  /* grid-template-rows: minmax(min-content, 100vh);
  grid-template-columns: repeat(2, 50vw); */
}

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signup-container {
    height:100%;
    width:60%;
    padding: 8rem 8rem;
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: 1 / 2;
    grid-row: 1;
    border: 1px solid rgba(0,0,0,0);
}

.signup-form {
  max-width: 40rem;
  width: 100%;
}
.text-light {
  color: #696969;
}
.header-primary {
  font-size: 3rem;
}
.input-text {
  font-family: inherit;
  font-size: 1rem;
  padding: 2rem 5rem 1rem 2rem;
  border: none;
  border-radius: 1rem;
  background: #eee;
  font-weight: 600;
  width: 100%;
}
.input-text:focus {
  outline-color: #2196f3;
}

.btn {
  padding: 2rem 3rem;
  border: none;
  background: #2196f3;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
}
.btn-signup {
  align-self: flex-end;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 0 1rem 2rem #00000025;
}
.btn-signup:active {
  box-shadow: none;
}
.btn-signup:hover {
  background: #2180f9;
}
.input {
  position: relative;
}
.label {
  pointer-events: none;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  color: #00000070;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.2s;
  transform-origin: left;
}
.input-text:not(:placeholder-shown) + .label,
.input-text:focus + .label {
  top: 0.7rem;
  transform: scale(0.75);
}
.input-text:focus + .label {
  color: #2196f3;
}
.flex-row {
  display: flex;
  gap: 2rem;
}
.input-icon {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  color: #00000070;
}
.input-icon-password {
  cursor: pointer;
}

.greeting-container {
  width:40%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 10rem;
  grid-column: 2 / 3;
  grid-row: 1;
  background: #eeeeee75;
  border: 1px solid rgba(0,0,0,0);
}
