/*********========
Navigation Main Style
==========********/

body {
  min-height: 50em;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.push-right {
  flex:1;
}

/*Nav scrollup*/
header.header-up {
  top: -30px!important;
}

/*Double Navigation Container*/
.nav-container {
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.2s ease-in-out;
   z-index: 1000!important;
}
.nav-container h1 {
  font-family: 'Arial black', sans-serif;
  font-size: 100px;
  position: absolute;
  margin: auto 0;
  color: white;
  line-height: 90%;
  text-transform: uppercase;
  z-index: 1;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  text-align: center;
  font-weight: bolder;
}

/*Upper Navigation*/
.top-nav {
  position: relative;
  display: flex;
  background: linear-gradient(45deg, #fff 10%, #f0f0f0);
  height: 30px;
  align-items: center;
}
.top-nav-box {
  position: relative;
  padding-right: 3em;
}
.top-nav-box a {
  margin-right: 10px;
  color: rgba(0,0,255, 1);
  transition: all 0.2s;
  border-bottom: 2px solid rgba(0,0,0,0)
}
.top-nav-box a:hover {
  color: #000;
border-bottom: 2px solid #000;
}
.top-nav-box a i {
  margin-right: 5px;
}

/*Lower Navigation*/
nav {
	 display: flex;
   border: none;
	 position: relative;
   width: 100%;
   background-color: #fff;
   box-shadow: 2px 5px 4px rgba(0,0,0,0.1);
}
 nav .container {
	 max-width: 1260px;
	 width: 1260px;
	 margin: auto;
	 display: flex;
   position: relative;
}

/*Navigation Logo*/
.logo {
  position: relative;
  font-size: 32px;
  font-family: monospace;
  color: #454545;
  margin: auto 20px auto 0;
  font-weight: bolder;
}
.logo a {
 color: #000;
 /* color:#fff; */
 float:left;
 font-family: 'Fredoka One', cursive;
 text-decoration: none;
}
.logo img {
 height: 25px;
 margin-right: 15px;
}


/*Navigation Menu*/
.navMenu {
  display: flex;
  flex-direction: row;
}
.navMenuBox {
 position: relative;
 display: inline-block;
 margin-left: 7.5%;
 /* border: 1px solid #000; */
}
.navMenu .item {
  /* color: #454545; */
  color: #000;
  display: flex;
  /* padding: 24px; */
  padding: 20px 15px 20px 15px;
  cursor: pointer;
  font-size: 15px;
  font-family: arial;
  position: relative;
}
.navMenu .item .title-item {
  display: flex;
  position: relative;
  user-select: none;
}
.navMenu .item .title-item:before, .navMenu .item .title-item:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  margin: 5px 0 0;
  transition: all 0.25s cubic-bezier(0.34, 0.37, 0.055, 1.56);
  opacity: 1;
  background-color: #454545;
  left: 0;
  /* bottom: -8px; */
  bottom: -20px;
}
.navMenu .item .arrow {
  font-size: 11px;
  margin-left: 8px;
  margin-top: 3px;
}
.navMenu .item:hover .title-item:before, .navMenu .item:hover .title-item:after {
  width: 100%;
  opacity: 1;
}
.menu.open:hover .navMenu .item .title-item:before, .menu.open:hover .navMenu .item .title-item:after{
 width: 100%;
 opacity: 1;
}
.contact-btn {
 position: absolute;
 border: none;
 top: 7px;
 right: 5%;
 font-size: 14px;
 font-weight: 500;
 padding: 13px 20px 13px 20px;
 cursor: pointer;
 background-color: rgba(0,0,255, 1);
 color: #fff;
}
.contact-btn:hover {
 background-color: rgba(0,0,255, 0.3);
}

.menu {
  position: absolute;
  left: 50%;
  opacity: 0;
  /* height: 200px; */
  height: 475px;
  /* width: 1060px; */
  width: 800px;
  position: absolute;
  /* top: 74px; */
  top:87px;
  padding: 0;
  transform: perspective(1000px) translate3d(-50%, 0, 0);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0.34, 0.37, 0.055, 1.56);
  overflow: hidden;
  visibility: hidden;
}
.menu.open {
  opacity: 1;
  transform: perspective(1000px) translate3d(-50%, 0, 0);
  /* height: 275px; */
  height: 400px;
  /* max-width: 1160px;
  width: 1160px; */
  width: 700px;
  visibility: visible;
  z-index: 98;
}

/*Menu Content*/
.menu-content {
    display: block;
  background: #fff;
  transition: 0.1s;
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 2em;
}
.menu-content li {
  margin: 0;
  padding: 0;
}
.menu-content li a {
  color: #000;
  font-size: 15px;
}
.menu-content .item.title {
  font-weight: bolder;
  color: #0b7756;
  font-size: 15px;
}
.menu-content li a:hover {
  text-decoration: underline;
}

.menu-inner {
display: flex;
flex-direction: row;
width: 100%;
}

.content {
  transition: 0.1s;
  opacity: 1;
  position: relative;
  display: flex;
  height: 100%;
  font-family: arial;
}
.content .left-part, .content .right-part {
  padding: 16px;
  height: 100%;
}
.content .left-part {
  background-color: #f2f4f6;
  flex: 3;
  display: flex;
  flex-direction: row;
}
.content .left-part .navMenu-submenu {
  margin: 8px 32px;
}
.content .left-part .navMenu-submenu .item a {
  color: #454545;
  font-size: 15px;
  margin: 8px auto;
  cursor: pointer;
}
.content .left-part .navMenu-submenu .item a:hover {
  text-decoration: underline;
}
.content .left-part .navMenu-submenu .item.title {
  font-weight: bolder;
  color: #0b7756;
  font-size: 15px;
}
.content .right-part {
  background-color: #fff;
  flex: 2;
  background-image: url(../assets/img/techbg.jpg);
}
.card {
  display: flex;
  flex-direction: column;
}
.card img {
  width: 300px;
  margin: 16px auto;
}
.card p {
  margin: auto auto 16px auto;
  text-align: center;
  color: #000;
  font-family: arial;
  font-size: 16px;
  font-weight: 600;
}
.card button {
  position: relative;
  left: 25%;
  top: 4em;
  /* background-color: white; */
  background: #0505ff;
  border: none;
  /* color: #0b7756; */
  color: #fff;
  max-width: 150px;
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}
.card button:hover {
  background: 	rgb(173,216,230);
}

.menu-bottom {
  position: relative;
  display: block;
  background-color: #fff;
  height: 100%;
  border:1px solid rgba(0,0,0,0);
  width: 100%;
  background-image: url(../assets/img/techbg.jpg);
}
.menu-bottom button {
  position: relative;
  left: 5%;
  top: 1em;
  /* background-color: white; */
  background: #0505ff;
  border: none;
  /* color: #0b7756; */
  color: #fff;
  max-width: 250px;
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}
.menu-bottom p {
  margin: 10px auto 10px 20px;
  color: #000;
  font-family: arial;
  font-size: 16px;
  font-weight: 700;
}
.menu-bottom img {
  position: absolute;
  right: 1em;
  height: 150px;
}

.mi-box {
padding-left: 2em;
}
.mi-box ul {
padding-left: 0;
}
.mi-box:first-child {
  width:40%;
  border-right: 1px solid #dedede;
}
.mi-box:last-child {
  width:60%;
}
.mi-box:last-child ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 10px;
}


#menu-1 .menu-content ul {
  padding-left: 0;
}
