/*********========
Navigation Main Style
==========********/

body {
  min-height: 50em;
  margin: 0;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.push-right {
  flex:1;
}

/*Nav scrollup*/
header.header-up {
  top: -30px!important;
}

/*Double Navigation Container*/
.nav-container {
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.2s ease-in-out;
   z-index: 1000!important;
}
.nav-container h1 {
  font-family: 'Arial black', sans-serif;
  font-size: 100px;
  position: absolute;
  margin: auto 0;
  color: white;
  line-height: 90%;
  text-transform: uppercase;
  z-index: 1;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  text-align: center;
  font-weight: bolder;
}

/*Upper Navigation*/
.top-nav {
  position: relative;
  display: flex;
  background: linear-gradient(45deg, #fff 10%, #f0f0f0);
  height: 30px;
  align-items: center;
}
.top-nav-box {
  position: relative;
  padding-right: 2em;
}
.top-nav-box a {
  margin-right: 10px;
  font-size:14px;
  color: rgba(0,0,255, 1);
  transition: all 0.2s;
  border-bottom: 2px solid rgba(0,0,0,0)
}
.top-nav-box a:hover {
  color: #000;
border-bottom: 2px solid #000;
}
.top-nav-box a i {
  margin-right: 5px;
}

/*Lower Navigation*/
nav {
	 display: flex;
   border: none;
	 position: relative;
   width: 100%;
   background-color: #fff;
   box-shadow: 2px 5px 4px rgba(0,0,0,0.1);
}
 nav .container {
	 max-width: 1260px;
	 width: 1260px;
	 margin: auto;
	 display: flex;
   position: relative;
}

/*Navigation Logo*/
.logo {
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: monospace;
  color: #454545;
  margin: auto 20px auto 0;
  font-weight: bolder;
}
.logo a {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 color: #000;
 font-family: 'Fredoka One', cursive;
 text-decoration: none;
}
.logo img {
 height: 25px;
 margin-right: 15px;
}


/*Navigation Menu*/
.navMenu {
  display: flex;
  flex-direction: row;
}
.navMenuBox {
 position: relative;
 display: inline-block;
 margin-left: 9.5%;
 /* border: 1px solid #000; */
}
.contact-btn {
 position: absolute;
 border: none;
 top: 7px;
 right: 3%;
 font-size: 14px;
 font-weight: 500;
 padding: 13px 20px 13px 20px;
 cursor: pointer;
 background-color: rgba(0,0,255, 1);
 color: #fff;
}
.contact-btn:hover {
 background-color: rgba(0,0,255, 0.3);
}
.sidenav-trigger {
  display:none;
}.sidenav-close {
  display:none;
}
.sidenav-menu {
  display:none;
}
button.menu-link {
  display:none;
}
@media (max-width: 1100px) {
    .navMenuBox,
    .contact-btn {
     display: none;
    }
    .top-nav-box {
      padding-right: 0;
    }
    .top-nav-box a {
      font-size:11px;
    }
    .logo {
      padding:0.325em 0;
    }
    .logo a span {
      font-size:25px;
    }
    .sidenav-trigger {
      display:flex;
      justify-content: center;
      align-items: center;
      margin-right:10px;
      cursor: pointer;
    }
}
@media (max-width: 600px) {
  .logo a span {
    font-size:18px;
  }
}
.navMenu .item {
  /* color: #454545; */
  color: #000;
  display: flex;
  /* padding: 24px; */
  padding: 20px 15px 20px 15px;
  cursor: pointer;
  font-size: 15px;
  font-family: arial;
  position: relative;
}
.navMenu .item .title-item {
  display: flex;
  position: relative;
  user-select: none;
}
.navMenu .item .title-item:before,
.navMenu .item .title-item:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  margin: 5px 0 0;
  transition: all 0.25s cubic-bezier(0.34, 0.37, 0.055, 1.56);
  opacity: 1;
  background-color: #454545;
  left: 0;
  /* bottom: -8px; */
  bottom: -20px;
}
.navMenu .item .arrow {
  font-size: 11px;
  margin-left: 8px;
  margin-top: 3px;
}
.navMenu .item:hover .title-item:before,
.navMenu .item:hover .title-item:after {
  width: 100%;
  opacity: 1;
}
.menu.open:hover .navMenu .item .title-item:before,
.menu.open:hover .navMenu .item .title-item:after{
 width: 100%;
 opacity: 1;
}

@media (min-width: 1101px) {

  .menu {
    position: absolute;
    left: 50%;
    opacity: 0;
    /* height: 200px; */
    height: 475px;
    /* width: 1060px; */
    width: 800px;
    position: absolute;
    /* top: 74px; */
    top:87px;
    padding: 0;
    transform: perspective(1000px) translate3d(-50%, 0, 0);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s cubic-bezier(0.34, 0.37, 0.055, 1.56);
    overflow: hidden;
    visibility: hidden;
  }
  .menu.open {
    opacity: 1;
    transform: perspective(1000px) translate3d(-50%, 0, 0);
    /* height: 275px; */
    height: 400px;
    /* max-width: 1160px;
    width: 1160px; */
    width: 700px;
    visibility: visible;
    z-index: 98;
  }

}
@media (max-width: 1100px) {

  /*Mobile Screen Side Navigation*/
  .sidenav {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s opacity;
    z-index:100;
  }
    .sidenav__holder {
      position: absolute;
      width: 400px;
      height: 100%;
      background: #fff;
      display: flex;
      flex-flow: column wrap;
      overflow: hidden;
      transition: 0.2s transform;
      right:0;
      transform: translateX(400px);
    }
    .sidenav.is-open {
      opacity: 1;
      pointer-events: auto;
    }
    .sidenav.is-open .sidenav__holder {
      transform: translate(0)!important;
    }

    .sidenav-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 7.5px;
    right: 25px;
    z-index: 3;
    border-radius:10px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0);
    transition: all 0.3s;
  }
  .sidenav-close:hover {
    background-color: #f2f2f2;
  }

  .sidenav-menu {
    position:relative;
    display:block;
    width:100%;
  }
  .sidenav-menu ul{
    position:relative;
    margin-top:5em;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .sidenav-menu ul li {
    position:relative;
    display:flex;
    flex-direction: row;
    margin: 10px 0;
  }
  .sidenav-menu ul li a {
    font-size: 16px;
    font-family: arial;
    height:100%;
    width:90%;
    padding:0.75em 0;
    cursor: pointer;
  }
  .sidenav-menu ul li a span {
    float:right;
  }
  .sidenav-menu ul li a i {
    position:relative;
    font-size:12px;
    top:-1px;
  }
  .sidenav-menu ul li a:before,
  .sidenav-menu ul li a:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    transition: all 0.25s cubic-bezier(0.34, 0.37, 0.055, 1.56);
    opacity: 1;
    background-color: #454545;
    left: 0;
    /* bottom: -8px; */
    bottom: -5px;
    z-index:-1;
  }
  .sidenav-menu ul li a:hover:before,
  .sidenav-menu ul li a:hover:after{
   width: 90%;
   opacity: 1;
  }
  /* .sidenav-menu ul li a:before,
  .sidenav-menu ul li a:after {
    width: 100%;
    opacity: 1;
  } */


  /*Sidenav Menu (Mobile View)*/
  .menu {
      position: absolute;
      height:100%;
      width:400px;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			overflow: hidden;
			background: #fff;
			z-index: 10!important;
			transition: transform .4s cubic-bezier(.23,1,.32,1),visibility 0s linear .4s;
			visibility: hidden;
			transform: translateX(400px);
      border: 2px solid blue;
  }
  .menu-content {
    position:relative;
    height:100%;
    width:100%;
    border: 1px solid red;
  }
  .menu .content {
    position:relative;
    height:100%;
    width:100%;
    border: 1px solid red;
  }
  .is-active {
    visibility: visible;
				transition: transform .4s cubic-bezier(.23,1,.32,1),visibility 0s;
			transform: translateX(0);
				z-index: 1;
  }
  button.menu-link {
    position: relative;
  text-align: left;
  width: 100%;
  display: block;
  padding: 14px 20px;
  background: transparent;
  margin: 0;
  border: none;
  }
  button.menu-link svg {
	 position: relative;
	 top: 50%;
	 margin-top: -7px;
	 height: 14px;
}

}

@media (max-width: 600px) {
  .sidenav__holder {
    max-width: 320px;
  }
}

/*Menu Content*/
.menu-content {
    display: block;
  background: #fff;
  transition: 0.1s;
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 2em;
}
.menu-content li {
  margin: 0;
  padding: 0;
}
.menu-content li a {
  color: #000;
  font-size: 15px;
}
.menu-content .item.title {
  font-weight: bolder;
  color: #0b7756;
  font-size: 15px;
}
.menu-content li a:hover {
  text-decoration: underline;
}

.menu-inner {
display: flex;
flex-direction: row;
width: 100%;
}

.menu .content {
  transition: 0.1s;
  opacity: 1;
  position: relative;
  display: flex;
  height: 100%;
  font-family: arial;
}
.menu .content .left-part, .content .right-part {
  padding: 16px;
  height: 100%;
}
.menu .content .left-part {
  background-color: #f2f4f6;
  flex: 3;
  display: flex;
  flex-direction: row;
}
.menu .content .left-part .navMenu-submenu {
  margin: 8px 32px;
}
.menu .content .left-part .navMenu-submenu .item a {
  color: #454545;
  font-size: 15px;
  margin: 8px auto;
  cursor: pointer;
}
.menu .content .left-part .navMenu-submenu .item a:hover {
  text-decoration: underline;
}
.menu .content .left-part .navMenu-submenu .item.title {
  font-weight: bolder;
  color: #0b7756;
  font-size: 15px;
}
.menu .content .right-part {
  background-color: #fff;
  flex: 2;
  background-image: url(../assets/img/techbg.jpg);
}
.card {
  display: flex;
  flex-direction: column;
}
.card img {
  width: 300px;
  margin: 16px auto;
}
.card p {
  margin: auto auto 16px auto;
  text-align: center;
  color: #000;
  font-family: arial;
  font-size: 16px;
  font-weight: 600;
}
.card button {
  position: relative;
  left: 25%;
  top: 4em;
  /* background-color: white; */
  background: #0505ff;
  border: none;
  /* color: #0b7756; */
  color: #fff;
  max-width: 150px;
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}
.card button:hover {
  background: 	rgb(173,216,230);
}

.menu-bottom {
  position: relative;
  display: block;
  background-color: #fff;
  height: 100%;
  border:1px solid rgba(0,0,0,0);
  width: 100%;
  background-image: url(../assets/img/techbg.jpg);
}
.menu-bottom button {
  position: relative;
  left: 5%;
  top: 1em;
  /* background-color: white; */
  background: #0505ff;
  border: none;
  /* color: #0b7756; */
  color: #fff;
  max-width: 250px;
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}
.menu-bottom p {
  margin: 10px auto 10px 20px;
  color: #000;
  font-family: arial;
  font-size: 16px;
  font-weight: 700;
}
.menu-bottom img {
  position: absolute;
  right: 1em;
  height: 150px;
}

.mi-box {
padding-left: 2em;
}
.mi-box ul {
padding-left: 0;
}
.mi-box:first-child {
  width:40%;
  border-right: 1px solid #dedede;
}
.mi-box:last-child {
  width:60%;
}
.mi-box:last-child ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 10px;
}


#menu-1 .menu-content ul {
  padding-left: 0;
}
#menu-3 .menu-content ul{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 0;
grid-row-gap: 10px;
padding-left: 0;
}
#menu-5 .menu-content ul {
  padding-left : 0;
}
#menu-3 .menu-content, #menu-1 .menu-content, #menu-5 .menu-content {
  padding-left: 2em;
}
