/*************
Ajax Tabs CSS
*************/
body {
  margin: 0;
}
.pageContent {
  position:relative;
    display:flex;
    flex-direction: column;
    width:65%;
    min-height:50vh;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0);
}
.tabNav {
  position: relative;
  display: flex;
  width: 100%;
  height: auto!important;
  margin-bottom: 1em;
  border: 1px solid rgba(0,0,0,0);
}
.tabNav ul {
  position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    padding: 0;
}
.tabNav ul li {
  position: relative;
    text-align: center;
    list-style-type: none;
}
.tabNav ul li button {
  position: relative;
    font-weight: 900;
    color: rgba(0,0,0,0.5);
    border: none;
    background: transparent;
    padding: 2em 1em;
    border-bottom: 3px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: 0.2s all;
}
.tabNav ul li button.tabActive {
  color: #000;
  background:#f2f2f2;
}
.tabNav ul li button.tabActive:hover {
  background:#f2f2f2;
}
.tabNav ul li button:hover {
  color: rgba(0,0,0,0.8);
  background:#fafafa;
  border-bottom: 3px solid rgba(1, 1, 122, 0.2);
}
.tabActive {
    border-bottom: 3px solid navy!important;
}

.tabContainer {
  position:relative;
  width:100%;
  /* min-height:80vh; */
  border: 1px solid rgba(0,0,0,1);
}

.tabBox {


}
